---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="spa flex min-h-svh flex-col items-center">
    <Header />

    <main class="my-4 flex w-full max-w-2xl flex-col justify-start">
      <h1 class="mb-6">Hi! I'm Anatoli, and I've been passionate about programming since childhood.</h1>
      <p>
        I'm currently a Senior Software Engineer at <a href="https://booking.com">Booking.com</a>. Outside of work, I
        enjoy solving programming challenges (<a href="https://leetcode.com/u/ahuseu/">LeetCode</a>, <a
          href="https://adventofcode.com/">Advent Of Code</a
        >), developing pet projects (some might appear on this site soon),
        <a href="https://www.goodreads.com/user/show/145682320-anatoli">reading</a>, <a
          href="https://boardgamegeek.com/user/ahuseu">playing board games</a
        >, and traveling with my family.
      </p>
    </main>

    <Footer />
  </body>
</html>
