---
const today = new Date();
---

<footer class="container mt-auto pb-10 text-left text-sm">
  &copy; {today.getFullYear()} Anatoli Huseu. Powered by&nbsp;<a href="https://astro.build/">Astro</a>.
</footer>
