---
const today = new Date();
---

<footer class="mt-auto w-full max-w-2xl pb-10 text-left text-sm">
  &copy; {today.getFullYear()} Anatoli Huseu. Powered by <a href="https://astro.build/">Astro</a>.
</footer>
