---
import HeaderLink from './HeaderLink.astro';
---

<header class="container flex-col">
  <div class="flex w-full flex-col md:flex-row items-center justify-around py-10">
    <div>
      <h1 class="text-primary mb-6 text-4xl"><a href="/">Anatoli Huseu</a></h1>
      <h2 class="text-secondary text-xl">Software Engineer<br />from Amsterdam</h2>
    </div>

    <div class="mt-8 md:mt-0">
      <img src="/avatar.png" alt="Anatoli Huseu" class="h-48 w-48 rounded-full" />
    </div>
  </div>

  <nav class="my-4 flex justify-around">
    <HeaderLink href="/">home</HeaderLink>
    <HeaderLink href="https://github.com/avg206" target="_blank">github</HeaderLink>
    <HeaderLink href="https://www.linkedin.com/in/anatoli-huseu/" target="_blank">linkedin</HeaderLink>
  </nav>
</header>
